

header{
  position: relative;
  /* background-image: url("media/logo.jpg"); */
  background-size: cover;
  margin: auto;
  max-width: 100%;
overflow: hidden;
display: inline-flex;
}

h3{
  display: inline-block;
  font-size: 40px;
  text-align: center;
  color: red;
  font-family: 'Kaushan Script', cursive;
  padding: 5px

}

.MenuNav {
      overflow: hidden;
      background-color: #333;
      margin-bottom: 30px;
        max-width: 100%;

    }

    .MenuNav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .MenuNav a:hover {
      background-color: #ddd;
      color: black;
    }

    .MenuNav a.active {
      background-color: #4CAF50;
      color: white;
    }

    * {
        box-sizing: border-box;
    }

    .sidebar{
      margin-top: 50px;
      border-left: 2px;
      border-left-style: solid;
      float: right;
      margin-right: 20px;
      line-height:50px;

}

    .acc{
      max-width: 50%;
      max-height: 100%;
      /* margin-left: 120px; */

    }

    @media only screen and (max-width: 600px) {
      .columns {
        width: 100%;
      }
    }
    

.accommo{
  margin-top: 20px;
    border: 5px solid black;
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 100px;
    overflow: hidden;
    margin-left: 30px;
}

.selection{
  margin-left: 30px;
    float: left;
    width: 260px;
    height: 250px;
   
    margin-bottom: 120px;
    line-height: 12px;
}


#container {
  display: block;
}


#type{
  text-align: middle;
  font-size: x-large;

}
#text{
  margin-top: 2px;
  text-align: center;
}
#b{
  float: right;
  background-color: skyblue;
 
}

/* #adults{
  margin-top: 10px;
} */

.total {
  margin-top: 10px;
}

footer {
  text-align:center;
  background-color: skyblue;
  overflow: hidden;
  padding-top: 10px;
  clear:both;

}

    footer a {
      float: center;
      color: grey;
      text-decoration: none;
      font-size: 18px;
      line-height: 0.1;

    }
