header{
  margin:auto;
  max-width: 100%;
  position: relative;
  /* background-image: url("media/logo.jpg"); */
  background-size: cover;
  display: inline-flex;
}


  h3 {
    display: inline-block;
    font-size: 40px;
    text-align: center;
    color: red;
    font-family: 'Kaushan Script', cursive;
    padding: 5px;
  }

  .MenuNav {
        overflow: hidden;
        background-color: #333;
        margin-bottom: 30px;
        max-width: 100%;

      }

      .MenuNav a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

      .MenuNav a:hover {
        background-color: #ddd;
        color: black;
      }

      .MenuNav a.active {
        background-color: #4CAF50;
        color: white;
      }


      .form-group {
        margin-bottom: 20px;
      }

      @media only screen and (max-width: 100%) {
        #contact-form {
          width: 100%;
        }
      }
      

      input[type=text],
      input[type=email],
      input[type=number],
      select,
      textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        /* margin-bottom: 16px; */
        resize: vertical;
      }

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    max-width:100%;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    margin-bottom: 60px;
}
.err-msg {
  color: red
}


  footer {
        text-align:center;
        overflow: hidden;
        background-color: skyblue;
        overflow: hidden;

      }
      footer a {
        float: center;
        color: grey;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        line-height: 0.1;

      }
