header {
	margin: auto;
	max-width: 100%;
	position: relative;
	/* background-image: url("media/logo.jpg"); */
	background-size: cover;
	overflow: hidden;
	display: inline-flex;
}

h3 {
	display: inline-block;
	font-size: 40px;
	text-align: center;
	color: red;
	font-family: 'Kaushan Script', cursive;
	padding: 5px;
}

.MenuNav {
	overflow: hidden;
	background-color: #333;
	margin-bottom: 30px;
        max-width: 100%;
}

.MenuNav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.MenuNav a:hover {
	background-color: #ddd;
	color: black;
}

.MenuNav a.active {
	background-color: #4caf50;
	color: white;
}

/* Slideshow container */
.Slideshow {
	max-width: 100%;
	position: relative;
	margin: auto;
	width: 90%;
}

.Slides {
	display: center;
}

.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: .4;
	}
	to {
		opacity: 1;
	}
}

@media only screen and (max-width: 600px) {
	#web, #art-list {
		width: 100%;
	}
	* {
			width: 100%;
	}
}

#art-list{
	max-width: 100%;
}

.map {
	margin-left: 80px;
	overflow: auto;
	display: inherit;
}
.details {
	margin-top: 30px;
	border: 5px solid #ccc;
	max-width: 100%;
	width: 200px;
	height: 200px;
	margin-right: 70px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}
#details {
	text-align: left;
	font-size: large;
	height: 0px;
}
#text {
	text-align: center;
	height: 50px;
	padding-bottom: 30px;
}
#moreBtn {
	float: right;
	background-color: skyblue;
	margin-top: 40px;
}

footer {
	text-align: center;
	background-color: skyblue;

	overflow: hidden;
	padding-top: 10px;
	clear: both;
}
footer a {
	float: center;
	color: grey;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 0.1;
}
