header {
	margin: auto;
	max-width: 100%;
	position: relative;
	/* background-image: url("media/logo.jpg"); */
	background-size: cover;
	display: inline-flex;
}

h3 {
	display: inline-block;
	font-size: 40px;
	text-align: center;
	color: red;
	font-family: 'Kaushan Script', cursive;
	padding: 5px;
}

.MenuNav {
	overflow: hidden;
	background-color: #333;
	margin-bottom: 30px;
        max-width: 100%;
}

.MenuNav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.MenuNav a:hover {
	background-color: #ddd;
	color: black;
}

.MenuNav a.active {
	background-color: #4caf50;
	color: white;
}

.rate {
	margin-top: 50px;
	border: 5px solid black;
	width: 250px;
	height: 250px;
	margin-left: 50px;
	margin-bottom: 10px;
}

* {
	box-sizing: border-box;
}

.columns {
	float: left;
	width: 20.0%;
	padding: 8px;
}

.price {
	list-style-type: none;
	border: 1px solid #eee;
	margin: 0;
	padding: 0;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.price:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}

.price .header {
	background-color: #111;
	color: white;
	font-size: 20px;
}

.price li {
	border-bottom: 1px solid #eee;
	padding: 20px;
	text-align: center;
}

.price .grey {
	background-color: #eee;
	font-size: 20px;
}

.button {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
}

@media only screen and (max-width: 600px) {
	.columns {
		width: 100%;
	}
}

#modal {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal__window {
	position: relative;
	background-color: white;
	padding: 4em 2em;
}

.modal__close {
	position: absolute;
  top: 5px;
	right: 15px;
}

#modal:not(:target) {
	visibility: hidden;
	opacity: 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 50px;
	padding-top: 50px;
	/* margin-bottom: -200px; */
}

footer {
	text-align: center;
	overflow: hidden;
	background-color: skyblue;

	overflow: hidden;
}
footer a {
	float: center;
	color: grey;
	text-align: center;
	text-decoration: none;
	font-size: 18px;
	line-height: 0.1;
}
